# Ignore Visual Studio Code settings
.vscode/

# Ignore Codeforces Plugin helper folder (CPH)
.cph/

# Ignore build artifacts
*.out
*.exe
*.o
*.obj
*.class
# *.sh

# Ignore temporary files
*.log
*.tmp
*.swp
*~

# Ignore compiled Python bytecode
__pycache__/
*.pyc

# macOS and Linux system files
.DS_Store
Thumbs.db

# Optional: Ignore temp test output
tmp.txt